.card{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 20%;
    height: auto;
    align-items: center;
    padding: 3em;
    
}
.card img {
    max-width: 20vw;
}